<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    RewriteEngine On

    # Redirect Trailing Slashes...
   # RewriteRule ^(.*)/$ /$1 [L,R=301]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>

redirect 301 /phong-tranh-benh-viem-gan-vi-rut-b.html http://www.viemgan.com.vn/tiem-phong-viem-gan-b-cach-phong-benh-viem-gan-b-hieu-qua-nhat.html